@font-face {
    font-family: deca;
    src: url(/assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}

@font-face {
    font-family: encode;
    src: url(/assets/fonts/Encode_Sans_Semi_Condensed/EncodeSansSemiCondensed-Medium.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: alata;
    src: url(/assets/fonts/Alata/Alata-Regular.ttf);
}

:root {
    --primary-light: #1E1E1E;
    --primary-dark: #1A1A1D;
    --secondary-light: #B996FF;
    --secondary-dark: #8E66DE;
    --text: #ededed;
    --accent: #D9E520;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    position: fixed;
    z-index: 100;

}

.navbar {
    position: fixed;
    backdrop-filter: blur(10px);
}

.error-main{
    display: flex;
    background-color: #1E1E1E;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15rem;
    justify-content: center;
    height: 45rem;
    padding-top: 10rem;
    width: 100%;
}

.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    backdrop-filter: blur(3px);
}

.error-container h1{
    font-size: 7rem;
    font-family: deca;
    color: rgb(203, 214, 45);
}

.error-container p{
    font-size: 1.5rem;
    color: #636363;
    margin-bottom: 2rem;
    font-family: alata;
}

.error-container a{
    font-size: 1.6rem;
    font-family: deca;
    text-decoration: none;
    padding: .8rem 1rem;
    background-color: #B996FF;
    border-radius: 1rem;
}

.error-main img{
    width: 300px;
    height: 100%;
    border-radius: 2rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.logo-icon {
    width: 13rem;
    max-height: 70px ;
    margin: .5rem 0 ;
    min-width: 345px;
}


.search-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #150030;
    position: relative;
    padding: .5rem 0;
}

.searchbar{
    width: 50%;
    border-radius: 2rem;
    text-decoration: none;
    border: none;
    padding: 0rem 1.5rem;
    background-color: #b996ff6b;
    position: relative;
    align-self: center;
    margin-left: 0rem;
    /* transform: translateX(50px); */
}

.searchbar:focus-within {
    outline: 2px solid #b996ff; /* Color del borde al hacer focus */
}

.searchbar-input{
    width: 95%;
    font-size: 1.3rem;
    background: transparent;
    border: none;
    font-size: 1.3rem;
    padding: .5rem 0;
    color: #ebebeb;
}

.searchbar-input:focus{
    outline: none;
}

.searchbar-button{
    width: 5%;
    cursor: pointer;
    height: 100%;
    padding: .6rem;
    position: absolute;
    background-color: transparent;
    border: none;
}

.searchbar-button img {
    width: 100%;
    height: 100%;
}

.widgets{
    min-width: 345px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.widgets a{
    padding: .8rem;
}

.links-container {
    display: flex;
    gap: 0rem;
    align-items: center;
    justify-content: center;
    background-color: #2727275e;
    width: 100%;
    padding: 0rem 0;
    min-width: 700px;
    font-size: 1.3rem;
    font-family: deca, sans-serif;
}

.links-container a {
    text-align: center;
    text-decoration: none;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    color: var(--secondary-light);
}

.links-container a.active{
    color: var(--accent)
}

.links-container div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--secondary-light);
    gap: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    align-items: center;
}

.links-container a:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-icon{
    width: 2rem;
    color: #B996FF;
}

.ofertas-page, .celulares-page {
    width: 100%;
    background: radial-gradient(circle, rgba(52,42,142,1) 0%, #09011f 100%);
}

.celulares-sections-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.banner-oferta{
    border-radius: .5rem;
    height: 10rem;
    z-index: 1;
}

.blob1{
    position: absolute;
    width: 30vw;
    z-index: 0;
    top: 0;
    left: 0;
}

.blob2{
    position: absolute;
    width: 35vw;
    z-index: 0;
    top: 200px;
    right: 0;
}

.cart-widget {
    display: flex;
    align-items: center;
    color: var(--secondary-dark);
}

.login-icon{
    width: 9rem;
}


.cart-widget img {
    width: 2.5rem;
}

.cart-counter {
    font-family: deca;
    font-weight: 400;
    font-size: .8rem;
    color: white;
    background-color: #ff20e1;
    transform: translate(-50%, -50%);
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

h1 {
    font-family: encode;
    font-size: 4vw;
    color: var(--text);
}

.special-offers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-top: 10rem;
    z-index: 2;
}


.special-offers-section h2 {
    font-family: deca;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    margin: 2rem 0 .5rem 0;
    background-color: #15003083;
    border-radius: 2rem;
    color: white;
}


.slider-container{
    width: 80vw
}

.slick-slide div{
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #d9d9d936;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    width: 15rem;
    min-height: 10rem;
    margin: 2rem 0;
    padding: .5rem 0 2rem 0;
    position: relative;
}



.card .img-container{
    background-color: #00000020;
    border-radius: .5rem;
    margin: .5rem 0;
    width: 80%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .img-container img {
    width: 80%;
    aspect-ratio: 1/1;
}

.card span {
    font-family: deca;
    text-align: center;
}

.prices-container {
    display: flex;
    flex-direction: column;
}

.product-name{
    font-size: 1.1rem;
    height: 40px;
    color: white;
}

.old-price{
    font-size: 1rem;
    transform: translateY(5px);
    color: #1E1E1E;

}

.price{
    font-size: 1.5rem;
    color: #D9E520;
}

.card .mas-info-btn {
    position: absolute;
    bottom: 0;
    transform: translateY(1.2rem);
    width:60%;
    font-size: 1rem;
    font-family: deca;
    font-weight: 400;
    /* color: #38341D;
    background-color: #D9E520; */
    border: none;
}

.card.oferta button.add-to-cart-btn {
    position: absolute;
    z-index: 1;
    right: -1rem;
    top: -1rem;
}

.daily-offer-section{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0 5rem 0;
    padding: 4rem 0;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}

.daily-offer-section img {
    width: 40%;
}

.daily-offer-section h3{
    font-family: deca;
    font-weight: 300;
    font-size: 3rem;
    color: white;
}

.daily-offer-section .oferta-container{
    width: 60%;
}

.oferta-container .info-container {
    background-color: #0e0e0ece;
    border-radius: 1rem;
    backdrop-filter: hue-rotate(180deg);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: deca;
}

.info-container h4{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(190, 190, 190);
}

.info-container p {
    width: 70%;
    font-size: 1.2rem;
    margin: .5em 0;
    color: white;
}

.info-container .old-price{
    color: #636363;
    font-size: 1.6rem;
}

.info-container .price {
    font-size: 2.5rem;
}

.button-container{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.button-container button {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: deca;
    border-radius: .8rem;
    cursor: pointer;
}


.star {
    color: orange;
    font-size: 2rem;
}
.star1:before {
    content : '★'
}
.star2:before {
    content : '★★'
}
.star3:before {
    content : '★★★'
}
.star4:before {
    content : '★★★★'
}
.star5:before {
    content : '★★★★★'
}

.all-offers-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative
}

.all-offers-section h5{
    font-family: deca;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    margin: 2rem 0 .5rem 0;
    background-color: #15003083;
    border-radius: 2rem;
    color: white;
}

.all-offers-section .all-offers-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    gap: 4rem;
    margin: 3rem 0 10rem 0;
    flex-wrap: wrap;
}

.offer-tag{
    position: absolute;
    top: -2.2rem;
    padding: .3rem 1rem;
    border-radius: 2rem;
    left: 0
}

.blob3{
    position: absolute;
    top: 20rem;
    width: 28rem;
    left: -10rem;
}

.blob4{
    position: absolute;
    bottom: 0;
    right: 0;
}

footer{
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-evenly;
    background-color: #09011f;
    padding: 1rem 0;
}


.footer-logo-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 10%;
    min-width: 275px;
    color: #B996FF;
}

footer span{
    font-family: deca;
    font-size: 1rem;
}

.footer-logo-icon{
    width: 80%;
    margin: .5rem 2rem;
}

.footer-links-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5rem;
}

.link-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0;
    color: #636363;
}

.link-list h6{
    font-family: alata;
    font-size: 1.2rem;
    color: white;
}

.link-list a{
    text-decoration: none;
    color: #636363;
    font-family: alata;
    position: relative;
}

.link-list.contacto a:nth-child(2)::after{
    background-image: url('/assets/images/phone-icon.png');
    background-size: cover;
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -35px;
}

.link-list.contacto a:nth-child(3)::after{
    background-image: url('/assets/images/mail-icon.png');
    background-size: cover;
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -35px;
}

.link-list.contacto a:nth-child(4)::after{
    background-image: url('/assets/images/linkedin-icon.png');
    background-size: cover;
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -35px;
}

.link-list.social a:nth-child(2)::after{
    background-image: url('/assets/images/instagram-icon.png');
    background-size: cover;
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -35px;
}

.link-list.social a:nth-child(3)::after{
    background-image: url('/assets/images/facebook-icon.png');
    background-size: cover;
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -35px;
}

.link-list.social a:nth-child(4)::after{
    background-image: url('/assets/images/tiktok-icon.png');
    background-size: cover;
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -35px;
}